aiohttp
configparser
future

# Basic modules
gensim
pipmaster
pydantic
python-dotenv

setuptools
tenacity

# LLM packages
tiktoken
opentelemetry-sdk
openinference-semantic-conventions

# Extra libraries are installed when needed using pipmaster